body {
    background-color: lightgray;    
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

nav>ul>li {
    background-color: lightblue;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
}

/* #7 pseudo-elements */
nav>ul>li>a:link {
    color:black;
}

nav>ul>li:hover {
    background-color: lightcoral;
}

nav>ul>li:active {
    background-color: yellow;
}

nav>ul>li>a:visited {
    color: darkviolet;
}

p::first-letter {
    text-decoration: underline;
    font-size: 1.5em;
}


/* #3 ID's and classes */
#angelfeather h1  {
    background-color: gold;
}

#genesis h1 {
    background-color: gold;
}

#nubatama h1 {
    background-color: red;
}

#novagrappler h1 {
    background-color: gray;
}

.clanname {
    border: 7px solid black;
    border-radius: 20px;
}

.clanname h1 {
    border-radius: 12px 12px 0px 0px;
}

footer {
    color: red;
    font-size: 3em;
    -webkit-text-stroke: 1.3px blue;
}